<p id="notice"><%= notice %></p>

<h1>Album Artists</h1>

<table>
  <thead>
    <tr>
      <th>Album</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @album_artists.each do |album_artist| %>
      <tr>
        <td><%= album_artist.album %></td>
        <td><%= album_artist.artist %></td>
        <td><%= link_to 'Show', album_artist %></td>
        <td><%= link_to 'Edit', edit_album_artist_path(album_artist) %></td>
        <td><%= link_to 'Destroy', album_artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album Artist', new_album_artist_path %>
