<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @album_artist.album %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album_artist.artist %>
</p>

<%= link_to 'Edit', edit_album_artist_path(@album_artist) %> |
<%= link_to 'Back', album_artists_path %>
