<p id="notice"><%= notice %></p>

<h1>Album Genres</h1>

<table>
  <thead>
    <tr>
      <th>Genre</th>
      <th>Album</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @album_genres.each do |album_genre| %>
      <tr>
        <td><%= album_genre.genre %></td>
        <td><%= album_genre.album %></td>
        <td><%= link_to 'Show', album_genre %></td>
        <td><%= link_to 'Edit', edit_album_genre_path(album_genre) %></td>
        <td><%= link_to 'Destroy', album_genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album Genre', new_album_genre_path %>
