<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @album_stream.album %>
</p>

<p>
  <strong>Stream:</strong>
  <%= @album_stream.stream %>
</p>

<%= link_to 'Edit', edit_album_stream_path(@album_stream) %> |
<%= link_to 'Back', album_streams_path %>
